<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet">-->
    <title><%= title %></title>
</head>

<body>


    
    <div class="table">
        <% if (users.length > 0) { %>
            <table class="table table2">
                <thead class="thead">
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">User ID</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((user, index) => { %>
                        <tr>
                            <th scope="row"><%= user.user_id %></th>
                            
                            <td><%= user.user_id %></td>

                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No users found.</p>
        <% } %>
    </div>

</body>

</html>