<!DOCTYPE html>
<html>

<head>
	<title>iLance | Login</title>
	
	<style>
	</style>

</head>

<body>                      
           
    <!-- LOGIN FORM -->
    <form action="/login" method="post" >
        <div class="form">           
            <input type="text" class="form-ctrl" placeholder="Username"  name="username">
        </div>
        <div class="form">           
            <input type="password" class="form-ctrl" placeholder="Password"  name="password">
        </div>       
        <button type="submit" class="btn btn-login">Log In</button>
    </form>   

</body>

</html>